html, body {
    
    font-family: sans-serif;
    color: #000;
    height: 100%;
}

body{
    position: relative;
    background-color: #000000;
}

h4 {
    
    
    padding: 0px;
    margin: 0px;
    border: 0;
}

h5 {
    
    
    padding: 0px;
    margin: 0px;
    border: 0;
    font-weight: 100;
    font-size: 16px;
    font-style: italic;
    color: #A9A9A9;
}

.bannerimage {
   
    
    width: 100%;
    height: auto;
	
}

.synopsis {
    
    font-size: 14px;
    width: 100%;
}

a.navLink:link, a.navLink:visited, a.navLink:hover{
    
    text-decoration: none;
    color: #FFF;
}

a:link, a:visited, a:hover{
    
    text-decoration: none;
    color: #A9A9A9;
    
}

a:active{
    color: #FFA500;
}

a.footer:link, a.footer:visited, a.footer:hover{
    
    text-decoration: none;
    color: #FFA500;
}



nav {
    
    
    width: 100%;
	background-color: #006600;
    
    
    
}



nav {
    
    color: #EFEFEF;
    
}

nav a{
    
    color: #EFEFEF;
}




ul {
    
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li{
    
    float: left;
}

nav li.right{
    
    float: right;
}

nav li a{
    
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

nav li a:hover{
    
    background-color: #FFA500;
}

aside {
    padding: 1%;
    /*float: right;
    width: 18%;*/
    background-color: #FFA500;
    margin: .5% 0% 0% 0%;
    /*opacity: .7;*/
    border-radius: 0px 0px 15px 15px;
    /*height: 300px;*/
    /*padding-top: 50px;*/
	background : #31fa1e;
	background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31fa1e), color-stop(100%,#30ab00));
	background : -moz-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
	background : -webkit-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
	background : -o-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
	background : -ms-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
	background : linear-gradient(top, #31fa1e 0%, #30ab00 100%);
	filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#31fa1e', endColorstr='#30ab00',GradientType=0 );
    
}
.aside{
    padding: 1%;
    float: right;
    width: 18%;
    background-color: #FFA500;
    margin: .5% 0% 0% 0%;
    opacity: .7;
    border-radius: 0px 0px 15px 15px;
    height: 150px;
    padding-top: 50px;
    background : #31fa1e;
    background : -webkit-gradient(linear, left top, left bottom, color-stop(0%,#31fa1e), color-stop(100%,#30ab00));
    background : -moz-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
    background : -webkit-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
    background : -o-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
    background : -ms-linear-gradient(top, #31fa1e 0%, #30ab00 100%);
    background : linear-gradient(top, #31fa1e 0%, #30ab00 100%);
    filter : progid:DXImageTransform.Microsoft.gradient( startColorstr='#31fa1e', endColorstr='#30ab00',GradientType=0 );

}
.searchbox {
	float:right;
    /*width: 100%;*/
}



main {
    float: left;
    margin: 2% 0% 0% 5%;
    width: 86%;
    background-color: #fff;
    padding: 2%;
    min-height: 80%;
    overflow: visible;
}

.filter{
    
    /*width: 100%;*/
    margin: 10px 0px;
}




table {
    border-collapse: collapse;
}

td{
    /*background: #FFA500;*/
    border-bottom: 5px solid #fff;
    border-collapse: collapse;
    border-top: 0px;
    padding: 5px 10px;
    text-align: right;
    vertical-align: top;
    
}

td.coverImage{
    
    border-right: 10px solid #fff;
    border-collapse: collapse;
    border-top: 0px;
    background-color: #FFF;
    height: 150px;
    width: 85px;
    color: #EFEFEF;
    text-align: center;
    font-weight: bold;
    padding: 0px;
}




td.coverImage, td.description {
    
    border-bottom: 5px solid #fff;
    border-collapse: collapse;
    border-top: 0px;
    vertical-align: top;
    
    
}

td.description {
    background-color: #FFF;
    text-align: left;		
    background-color: #cccccc;
}

.book {
    width: 98%;
    float: left;
    margin: 0px 1%;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    background-color: #cccccc;
}

input[type="text"], input[type="number"], input[type="password"], input[type="tel"]{
                
    padding: 4px;
    margin: 8px 0px;
    box-sizing: border-box;
    color: #000;
    font-size:17px;
	-webkit-border-radius: 5px;
}

input[type="date"] {
    padding: 4px;
    margin: 6px 0px;
    box-sizing: border-box;
    font-size:17px;
	-webkit-border-radius: 5px;
}

label {
     color: #A9A9A9;
    font-size:16px;
}





.clear {
    width: 120px;
    float: right;
    margin-right: 10px;
    background-color: #FF3B3F;
    color: #fff;
}

.submit{
    width:120px;
    float: right;
    background-color: #006000;
    color: #fff;
    margin-right: 5px;
}

input[type="submit"] {
    padding: 0;
    border: 0;
    border-style: none;
	-webkit-border-radius: 5px;
    
}

input[type="submit"]:hover, input[type="button"]:hover {
    cursor: pointer;
    
}

input[type="submit"].submit:hover{
    background-color: #20B2AA;
}

input[type="button"].clear:hover{
    background-color: #20B2AA;
}

input[type="button"].clear:active{
    background-color: #FFA500;
}

input[type="button"], input[type="submit"]{

    padding: 8px 0px 6px 0px;    
    color: #fff;
    border-style: none;
    border: 0px;
	-webkit-border-radius: 5px;
}

select{
    padding: 4px;
    margin: 8px 0px;
    box-sizing: border-box;
    color: black;
    font-size:16px;
	-webkit-border-radius: 5px;
 
    
}

.title {
    text-align: left;
}

.price, .addButton {
    background-color: #fff;
    vertical-align: middle;
    padding: 5px 0px 5px 0px;
    margin-right: 10px;
}

.price{
    padding-right: 10px;
}

.add {
    width: 100%;
    
    
}

.add, .searchButton {
    background-color: #006000;
    font-size: 12pt;
}

.addButton {
    
    margin 0px;
    width: 100px;
}

.edit{
    background-color: #00600;
    width: 90%;
    float: left;
   
}

.delete{
    width: 90%;
    float: left;
	background-color: #FFA500;
}

img.bookCover {
    
    height: 150px;
    width: 100px;
}

.date {
    
    text-align: left;
}

#registrationForm {
    width: 715px;;
    margin: 0  auto;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #FFA500;
    
}


#updateForm {
    width: 715px;;
    margin: 0  auto;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #FFA500;
    overflow: hidden;
    margin-bottom: 100px;
}

#loginForm {
    width: 360px;;
    margin: 0  auto;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 40px;
    background-color: #FFA500;
    
}

.bookListing{
    width: 100%;
    background-color: #cccccc;
}

.long {
    width: 715px;
}

.short {
    width: 110px;
}

.medium {
    
    width: 297px;
}

.medium-long {
    
    width: 355px;
}



input:focus {
    
    background-color: #ffffff;
    border-color: #64d9f2;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #A9A9A9;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #A9A9A9;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #A9A9A9;
}
:-moz-placeholder { /* Firefox 18- */
  color: #A9A9A9;
}

.empty {
    color: #A9A9A9;
}

.orderDetail {
    width: 100%;
}

.total {
    text-align: right;
}

.right {
    
    text-align: right;
}

.bold {
    font-weight: bold;
}

.order{
    width:120px;
    float: right;
    background-color: #FFA500;
    color: #fff;
    margin-top: 10px;
}

.ok {
    border-color: green;
}

.error {
    border-color: red;
}

footer {
    
    padding: 0.5px;
	background-color: #006000;
    text-align: center;
    vertical-align: middle;
}
footer > p {
    
   color: #FFFFFF;
}


div#wrapper{
    background-color: #ffffff;
    min-height: 100%;
    overflow: hidden;	
	background-image: url("img/UTD_Comets.png");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
    background-color: #cccccc;
}

div.pagination {
    font-family: "Lucida Sans", Geneva, Verdana, sans-serif;
    padding:20px;
    margin:7px;
}
div.pagination a {
    margin: 2px;
    padding: 0.5em 0.64em 0.43em 0.64em;
    background-color: #FFA500;
    text-decoration: none;
    color: #fff;
	-webkit-border-radius: 5px;
}
div.pagination a:hover, div.pagination a:active {
    padding: 0.5em 0.64em 0.43em 0.64em;
    margin: 2px;
    background-color: #FFA500;
    color: #fff;
	
}


.new{
    width: 32%;
    font-size: 20px;
    background-color: #006000;
    float: left;
    
    text-align: center;
    
}

.btn{
    font-size: 14pt;
}

.right{
    margin-left: 2%;
}

.left{
    margin-right: 2%;
}

.checkbox{
    width: 33.33%;
    float: left;
}

input[type=button]:disabled{
    background-color: #FF3B3F;
    width:100%;
    cursor: default;
}

.thumbImage{
    width: 140px;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
    align-content: left;
}

.clearfix{
    clear: both;
}
.info{
    color: red;
}
.remove{
    background-color: #FFA500; 
}